html {
  font-family: Merriweather, serif;
}

li {
  border-radius: 8px;
  border-style: solid;
}

td {
  height: 150px;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}
